<div id="component">
    <header>
        <app-menu></app-menu>
        <span id="pageTitle">{{pageTitle}}</span>
    </header>
    <main>
        <table class="table table-sm" *ngIf="product">
            <tbody id="colDetails">
                <tr>
                    <td>Product Id</td>
                    <td><input [(ngModel)]="product.id" readonly></td>
                </tr>
                <tr>
                    <td>Part #</td>
                    <td><input [(ngModel)]="product.partNbr"></td>
                </tr>
                <tr>
                    <td>Product Name</td>
                    <td><input [(ngModel)]="product.name"></td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td><input [(ngModel)]="product.price"></td>
                </tr>
                <tr>
                    <td>Unit</td>
                    <td><input [(ngModel)]="product.unit"></td>
                </tr>
                <tr>
                    <td>Image</td>
                    <td><input [(ngModel)]="product.photoPath"></td>
                </tr>
                <tr>
                    <td>Vendor</td>
                    <td>
                        <select [(ngModel)]="product.vendorId">
                            <option *ngFor="let v of vendors" value="{{v.id}}">{{v.name}}</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
        <button (click)="save()" class="btn btn-success btn-sm">Save</button>        
    </main>
</div>