<div id="component">
    <header>
        <app-menu></app-menu>
        <span id="pageTitle">{{pageTitle}}</span>
    </header>
    <main>
        <table class="table table-sm" *ngIf="requestline">
            <tbody id="colDetails">
                <tr>
                    <td>Line Id</td>
                    <td><input [(ngModel)]="requestline.id" readonly></td>
                </tr>
                <tr>
                    <td>Request Id</td>
                    <td><input [(ngModel)]="requestline.requestId" readonly></td>
                </tr>
                <tr>
                    <td>Product Id</td>
                    <td>
                        <select [(ngModel)]="requestline.productId">
                             <option *ngFor="let p of products" value="{{p.id}}">
                                {{p.name}}
                             </option>
                        </select>
                </td>
                </tr>
                <tr>
                    <td>Quantity</td>
                    <td><input [(ngModel)]="requestline.quantity"></td>
                </tr>
            </tbody>
        </table>
        <button (click)="save()" class="btn btn-success btn-sm">Save</button>
    </main>
</div>